//--------------------------------------------------------------
// Editor Styles
//
// Additional styles necessary to assist the editor.
// Enqueued after style.scss.
//--------------------------------------------------------------
.giphenberg-search-container {
	margin-bottom: 15px;

	+ img {
		margin-top: 15px;
	} // + img

	.giphenberg-results-list {
		column-count: 3;
		column-gap: 5px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	} // .giphenberg-results-list

	img {
		display: block;
		margin: 0 auto;
		opacity: 0.5;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}

	.giphenberg-search-result {
		border: 4px solid transparent;
		transition: border 0.2s ease-in-out;

		&.selected {
			border: 4px solid #1ace7c;

			img {
				opacity: 1;
			}
		}
	}

	.giphenberg-saved-image {
		display: block;
		margin: 0 auto;
	}

	.giphenberg-search {
		border: 1px solid #808080;
		border-radius: 0;
		padding: 10px;
	}

	.anchor-giphenberg-select {
		background-color: transparent;
		border: none;
		display: block;
		padding: 0;

		&:active,
		&:focus,
		&:hover {

			img {
				opacity: 1;
			}
		}
	}
} // .giphenberg-search-container

.wp-admin {

	.wp-block {

		.giphenberg-header {
			background: url('../assets/images/powered-by-giphy.png') top right / 121px 42px no-repeat !important;
			min-height: 42px;
			padding-right: 135px;
		}
	}
}
